PORT=3000
MANAGER_PUBLIC_URL=http://127.0.0.1:3000
WORKER_JS_URL=http://127.0.0.1:4001
WORKER_TS_URL=http://127.0.0.1:4002
WORKER_PY_URL=http://127.0.0.1:4003

MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=strongpassword

MINIO_SOURCE_BUCKET=preprocessed
MINIO_RESULT_BUCKET=processed-files

MAX_FILE_SIZE_BYTES=10485760
